
.homelink,.hellolink,.formlink,.buttonlink,.timerlink{
  margin: 10px;
}
.formwrapper{
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
}
.timer{
  height: 40px;
  width: 400px;
  line-height: 40px;
  margin-top: 50px;
  border:1px solid #b8b8b8;
}
